.nav-btn{
    background-color: #09427D;
    color: white;
    font-weight: 700;
    transform: scale(1.1);
}

nav{
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    font-family:"Nunito Sans", sans-serif;
    line-height: normal;
}
.nav-link,.dropdown-item{
    font-size:18px;
    /* line-height:72px; */
    color: #094285;
    font-weight: 300 !important;
}
@media screen and (min-width:768px) {
    .nav-link:hover,
    .dropdown-item:hover{
        background-color: white !important;
        color: rgb(255, 200, 56);
        transform: scale(1.15);
    }
    .nav-btn:hover{
        background-color: #09427D;
        color: white;
        transform: scale(1.15);
    }

}
